*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

.form-section{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.form {
  width: 30%;
  height: auto;
  padding: 1.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;

}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #e8e8e8;
  font-size: 1rem;


}




.button-and-link-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;

}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #222222;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}
/** seting a pseudo class for button hover effect **/
button:hover {
  background-color: #444444;
}

/** setting an active pseudo class for button click effect **/
button:active {
  background-color: #000000;
}

/**  setting a focus pseudo class for input fields  **/
input:focus {
  border: 2px solid rgb(34, 26, 254);
  outline: rgb(208, 0, 0);
  box-shadow: 1px 4px 32px 2px rgba(34, 26, 254, 0.12);
}

input::placeholder {
  font-size: 1rem;
  color: #b8b8b8;
  letter-spacing: -0.02rem;

}

button:focus-visible {
  box-shadow: 1px 4px 32px 2px rgba(34, 26, 254, 0.12);
  outline: rgb(34, 26, 254);
  border: 2px solid rgb(34, 26, 254);
}


/** styling the anchor link **/
a:link{
  text-decoration: none;
  color: rgb(34, 26, 254);
  font-size: 1rem;
}

a:link-visited {
  text-decoration: none;
  color: rgb(69, 1, 73);
  font-size: 1rem;
}

/** setting a hover effect for anchor link **/
a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 139);
}


/** Structured Pseudo Classes

li:first-child {
  font-weight: bold;
  color: rgb(34, 26, 254);
  font-size: 2rem;

}

li:last-child {
  font-style: italic;
  color: rgb(208, 0, 0);
  font-size: 2rem;

}

li:nth-child(5) {
  text-decoration: underline;
  color: rgb(0, 0, 139);
  font-size: 2rem;

}

li:nth-last-child(3) {
  text-decoration: line-through;
  color: rgb(139, 0, 0);
  font-size: 2rem;

} **/


/** checked pseudo class for radio buttons **/
.radio:checked {
  box-shadow: 0 0 8px 2px rgba(34, 26, 254, 0.25);
  accent-color: rgb(34, 26, 254);
}


/** disabled pseudo class for input fields. note this only works when the input you are trying to style you added a disabled to it from the html file
input:disabled {
  background-color: #e8e8e8;
  cursor: not-allowed;
}
**/

/** pseudo class for read only input fields. note this only works when the input you are trying to style you added a readonly to it from the html file 
input:read-only {
  background-color: #f0f0f0;
  border: 1px dashed #b8b8b8;
  cursor: not-allowed;
}
  **/